@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
html {
  background-color: #d5ebfe;
  font-family: 'Lato', monospace;
}
html body {
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: none;
}
html body button#reset {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
}
html body button#reset:hover {
  background-color: #d5ebfe;
}
