@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@background-color: #d5ebfe;

html {
    background-color: @background-color;
    font-family: 'Lato', monospace;
    body {
        background-color: white;
        border: 5px solid black;
        border-radius: 20px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-top: none;
        button#reset {
            background-color: white;
            border: 3px solid black;
            border-radius: 5px;
            &:hover {
                background-color: @background-color;
            }
        }
    }
}
